body{
    background-color: rgb(238, 229, 212);
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    text-align: center;
}
    
    label{
    display: block;
    padding: 8px;
    background-color: antiquewhite;
    color: #000;
    }

    header{
   background-color: rgb(169, 148, 115);
   overflow: hidden;
   position: sticky;
    }
  
    .navbar a {
        display: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .navbar a:hover {
        background-color:  rgb(238, 229, 212) ;
        color: rgb(120, 192, 166);
      }

      .navbar a.active {
        background-color: #04AA6D;
        color: white;
      }
    
    form {
        border: 2px solid ;
        border-radius: 4px;
        background-color: seashell;
        padding: 50px;
        margin: 50px;
        width: 500px;
        height: 300px;
        display: inline-block;
        justify-content: center;
        border-color:  rgb(120, 192, 166);     
    }
  
    .button {
       
        position: absolute;
        color: rgb(0, 0, 0);
        border: 2px solid;
        border-color:  rgb(120, 192, 166);  
        border-radius:10px;
        padding: 10px;
        margin-top: 20px;
        margin-right: auto;
      }

      .button:hover {
        background-color: rgb(120, 192, 166);
        transition: 0.7s;
      }